.navContainer {
  position: fixed;
  width: 100%;
  z-index: 99;
}
#carouselRestaurant {
  margin-left: 25%;
  max-height: max-content;
  justify-content: center;
}
.CarouselImage {
  width: 100%;
  height: max-content;
}
.CarouselImage2 {
  height: max-content;
  width: fit-content;
}
#Carousel{
  margin-top: 68.5px;

}
.App-header{
  display: flex;
  flex-direction: column;
  position: relative;

}