.carousel {
  position: fixed;
  width: 100%;
}
#carouselRestaurant {
  margin-left: 25%;
  max-height: max-content;
  justify-content: center;
}
.CarouselImage {
  width: 100%;
  height: max-content;
}
.CarouselImage2 {
  height: max-content;
  width: fit-content;
}
