#carouselFood {
  margin-top: 68.5px;
}
#carouselRestaurant {
  margin-left: 25%;
  max-height: max-content;
  justify-content: center;
}
.CarouselImage {
  width: 100%;
  height: max-content;
}
.CarouselImage2 {
  height: max-content;
  width: fit-content;
}
.App-header {
  display: flex;
  flex-direction: column;
}
