#Restaurant {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.formatLine {
  width: 0px;
  min-height: 15em;
}
.formatContent {
  justify-content: center;
  align-items: center;
  margin-left: 10em;
  margin-right: 5em;
  z-index: 5;
  position: relative;
}
