#containerComida {
  position: relative;

  z-index: 99;
}
.FoodMenu {
  align-items: center;
  align-content: center;
  /*   justify-content: center;
 */
}
.movementFishUp {
  animation-name: movement;
  animation-duration: 6s;
  animation-delay: -2s;
  animation-iteration-count: infinite;
}
.dispositionFish {
  position: absolute;
  display: block;
}
#fish {
  width: 10em;
  height: 11em;
  z-index: -1;
  top: 0%;
  left: 50%;
  transform: translate(0%, -50%);
}
#smallFish {
  width: 9em;
  height: 9em;
  z-index: -2;
  top: 0%;
  left: 75%;
  transform: translate(0%, -75%);
}
@keyframes movement {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(-75%);
  }
  100% {
    transform: translateY(-100%);
  }
}
