#containerComida {
  position: relative;
}
.comidaContent {
  z-index: 6;
  position: relative;
}

.FoodMenu {
  align-items: center;
  align-content: center;
  z-index: 5;
  position: relative;
  justify-content: center;
}
.movementFishUp {
  animation-name: movement;
  animation-duration: 6s;
  animation-delay: -2s;
  animation-iteration-count: infinite;
}

#imageList {
  overflow: hidden;
}
@keyframes movement {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(-75%);
  }
  100% {
    transform: translateY(-100%);
  }
}
